@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 142, 66);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(192, 90, 31);
    padding: 20px;
}
ul {
    margin: 0;
}
li {
    margin-right: 35px;
    display: inline-block;
    position: relative;
}
li::after {
    content:"";
    width: 0;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s ease-in-out;
}
li:hover::after{
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
header img {
    position: absolute;
    width: 55px;
    right: 5px;
    top: 5px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
table {
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(236, 236, 129);
    height: 300px;
    width: 1000px;
    border-collapse: collapse;
    box-shadow: 1px 2px 1px rgb(192,90,31);
    text-align: center;
    padding: 5px;
    margin: 5px;
}
th,td {
    border: 1px solid black;
    width: 0px;
    overflow: hidden;
}
.intervalo {
    background-color: gray;
}
table input {
    background: rgb(236, 236, 129);
    margin-left: -3px;
    width: 100%;
    height: 100%;
    font-size: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#ButaoH {
    transition: all .2s;
    position: absolute;
    background-color: rgb(236, 236, 129);
    width: 5%;
    height: 5%;
    right: 24%;
    bottom: 27%;
    font-size: 20px;
    cursor: pointer;
}
#ButaoH:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 1px rgba(0,0,0,.5));
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 58px;
    background-color: rgb(192, 90, 31);
}
footer img {
    position: absolute;
    width: 40px;
    bottom: 14px;
    right: 20px;
}
.zap {
    background-color: rgb(236, 236, 129);
    border: 1px solid #000;
    border-radius: 3%;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    height: 100px;
    width: 250px;
    margin-left: 30px;
  }
  .zaperson {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }